.header_navigation {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  padding: 20px 110px;
}

.header_navigation h2 {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 30px;
}

.header_navigation span {
  color: rgba(236, 121, 121, 1);
}

.header_navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
}

.header_navigation a {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.header_navigation a:hover {
  color: rgba(236, 121, 121, 1);
  transition-duration: 1s;
}

.header_section_background {
  background: url("../images/background_image.png") center no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: 8%;
  padding-top: 110px;
  padding-right: 8%;
}

.header_section_background article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 400;
  width: 130px;
}

.header_section_span {
  font-family: "Roboto", sans-serif;
  color: rgba(236, 121, 121, 1);
  font-size: 60px;
  font-weight: 400;
}

.header_section_background h2 {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: 400;
  max-width: 545px;
  padding-top: 32px;
}

.header_section_background hr {
  width: 64px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 32px;
}

.header_section {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  width: 270px;
  font-size: 15px;
  font-weight: 400;
  padding-top: 42px;
}

.header_section_button {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
  padding: 11px 26px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
}

.header_section_button:active {
  background-color: rgba(236, 121, 121, 1);
}

.header_section_button:hover {
  border-color: rgba(236, 121, 121, 1);
}

.header_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 370px;
  height: 370px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 120px;
}

.header_form_try {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 0;
}

.header_form_free {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(236, 121, 121, 1);
}

.header_form_input {
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  width: 252px;
  min-width: 200px;
  padding: 5% 5% 5% 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.header_form_input:focus {
  outline: none;
}

.header_form_button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  width: 370px;
  min-width: 300px;
  height: 55px;
  background-color: rgba(236, 121, 121, 1);
  border: none;
  border-radius: 0px 0px 8px 8px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
}

.header_form_button:hover {
  color: rgba(0, 0, 0, 1);
  transition-duration: 1s;
}
