/* .info_section_background {
  background: url("../images/background.png") center no-repeat;
  z-index: 1;
  background-size: 100% 100% contain;
  background-color: rgba(0, 0, 0, 0.45);
  font-family: "Raleway", sans-serif;
} */

/* .info_section_opacity {
  
  z-index: 1;
  padding-top: 72px;
} */

/* .info_section {
  background: url("../images/background.png") no-repeat;
  background-size: 100% 100% cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.info_section h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  padding-top: 70px;
  margin-bottom: 40px;
}

.info_section hr {
  background-color: #ffffff;
  width: 64px;
  height: 0.5px;
  border: 0.1px solid #fff;
}

.info_section_paragraph {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

.button_info_section_stylish {
  font-family: "Open Sans", sans-serif;
  width: 135px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
  padding: 11px 26px;
  margin-bottom: 38px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: none;
}

.button_info_section_stylish:hover {
  color: rgba(236, 121, 121, 1);
  border-color: rgba(236, 121, 121, 1);
  transition-duration: 0.5s;
} */

.info_section {
  background: url(../images/background.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;
  margin: 0 auto;
  text-align: center;
  padding: 0 8%;
}
.info_section h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  padding-top: 70px;
  margin-bottom: 40px;
}
.info_section hr {
  background-color: #ffffff;
  width: 64px;
  height: 0.5px;
  border: 0.1px solid #fff;
  margin: auto;
}
.info_section p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
  margin-bottom: 30px;
}
.info_section button {
  width: 140px;
  height: 40px;
  border: 1px solid #ffffff;
  background-image: none;
  background-color: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 40px;
}

.info_section button:hover {
  color: rgba(236, 121, 121, 1);
  border-color: rgba(236, 121, 121, 1);
  transition-duration: 0.5s;
}
